@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #95a47b;
    --second-color: #e7e9e3;
}

.bg-ligth-color {
    background-color: var(--second-color);
}

.color-text-primary-color {
    color: var(--primary-color);
}

.bg-button-primary-color {
    background-color: var(--primary-color);
}

.bg-button-primary-color:hover {
    background-color: #b3d37a;
}
